// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";
@import 'octicon-utf-codes';

.commit-book {
  .cb-input {
    background-color: @input-background-color !important;
    font-size: @input-font-size !important;
    border-color: @base-border-color !important;
  }

  .cb-select {
    background-color: @button-background-color;
    border: solid 1px @button-border-color;
    font-size: @input-font-size;
    color: @text-color;
    height: 2.2em;
    &:hover {
      background-color: @button-background-color-hover;
    }

    &:selected {
      background-color: @button-background-color-selected;
    }
  }
  .commit-view {
    background-color: @pane-item-background-color;
    .close-icon {
      fill: @text-color;
    }

    .top-bar {
      background-color: @background-color-highlight;
    }

  }

  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    height: 32px;
    svg {
      fill: @text-color;
    }
  }

 .copy-btn {
   padding: 8px;
   font-size: 1.32em;
   cursor: pointer;
   &::before {
    font-family: 'Octicons Regular';
    content: @clippy;
    }
  }
}
